<div class="product-list-container">
  <ul class="product-list">
    <li class="list-group-item active">The Original: Neapolitan</li>
    <li class="list-group-item">California Style</li>
    <li class="list-group-item">Chicago Deep Dish (and Stuffed)</li>
    <li class="list-group-item">Chicago Thin Crust</li>
    <li class="list-group-item">Detroit Style</li>
    <li class="list-group-item">New England Greek</li>
    <li class="list-group-item">New York Thin Crust</li>
    <li class="list-group-item">St. Louis Style</li>
  </ul>
</div>
