<div class="x fullWidth">
    <nav class="productTypes">
    <figure class="productTypes_button">
        <a class="foodLink" href="">
        <img src="svg/ic_local_pizza_24px.svg" alt="Slice of Pizza" />
        <figcaption class="caption selectedItem">Pizza</figcaption></a
        >
    </figure>

    <figure class="productTypes_button">
        <a class="foodLink" href="">
        <img
            src="svg/ic_local_dining_24px.svg"
            alt="Fork and knife restaurant symbol"
        />
        <figcaption class="caption">Snack</figcaption></a
        >
    </figure>

    <figure class="productTypes_button">
        <a class="foodLink" href="">
        <img src="svg/ic_local_cafe_24px.svg" alt="Cup of coffee" />
        <figcaption class="caption">Coffee</figcaption></a
        >
    </figure>

    <figure class="productTypes_button">
        <a class="foodLink" href="">
        <img src="svg/ic_local_bar_24px.svg" alt="Glass of alcohol" />
        <figcaption class="caption">Alcohol</figcaption></a
        >
    </figure>
    </nav>
</div>
