.grid_container {
  display: grid;
  grid-template-columns: 10.55% 78.9% 10.55%;
  grid-template-rows: 9.6875% 37.5% 14.84375% 37.96875%;
}

.grid_container-item1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.grid_container-item2-img {
  width: 320px;
  height: auto;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.grid_container-item3 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background: #171a1f;
}

.grid_container-item4 {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  background: #171a1f;
}
